@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using DvBCrud.Admin.Internal.Wrappers
@using Microsoft.AspNetCore.Components.Forms

@typeparam TCrudModel

<EditForm>
@foreach (var prop in _properties)
{
    @if (prop.GetAttribute<DisplayAttribute>()?.GetAutoGenerateField() ?? true)
    {
        <div class="row">
            <LabelFor Property="prop" />
            <GenericInput Id="@prop.Name"
                          Property="@PropertyVars[prop.Name].Value"
                          CanWrite="@prop.CanWrite"/>
        </div>
    }
}
</EditForm>

@code {
    [Parameter]
    public Dictionary<string, Wrapper<dynamic>> PropertyVars { get; set; } = new();

    private PropertyInfo[] _properties = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _properties = MemberInfoHelpers.GetPropertyInfos<TCrudModel>();
    }
}